<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghaol.springcloud.dao.PaymentDao">
    <insert id="insert" parameterType="com.xinghaol.springcloud.entities.Payment" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO payment (serial)
        VALUES (#{payment});
    </insert>

    <resultMap id="Base_Result_Map" type="com.xinghaol.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="queryPaymentById" resultMap="Base_Result_Map">
        SELECT id, serial
        FROM payment
        WHERE id = #{id}
    </select>
</mapper>